@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        h2 {
            color: hotpink;
            text-align: center;
        }

        table {
            background-color: black;
            border: 3px solid yellow;
            border-radius: 10px;
            padding-bottom: 50px;
            color: blue;
            width: 120px;
            height: 100px;
            margin: 0px auto;
        }
    </style>
</head>
<body>
    <div>
        <h2>Search Using Services and Information Extraction</h2>
    </div>
    <div id="main">
        <form id="form1" method="post">
            <table border="0">
                <tr>
                    <td>UserName </td>
                    <td>
                        <input type="Text" id="txtUserName" name="txtUserName" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="text" id="txtPassword" name="txtPassword" /></td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Registeration", "Registeration");
                    </td>
                    <td style="color:blue">
                        <input type="submit" value="Login" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
